@charset "utf-8";
/* 竖屏底下的查询 */
/* @media screen and (orientation: portrait) {
	body {
		padding-top: constant(safe-area-inset-top); 
	}
} */
html {
	direction: ltr;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, button, textarea, p, blockquote, th, td
	{
	margin: 0;
	padding: 0;
	list-style: none;
	word-wrap: break-word;
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	scrollbar-arrow-color: rgba(35,88,165,.5); /*上下按钮上三角箭头的颜色*/
}
body{
	 overflow-x: hidden; 
}
table {
	border-collapse: collapse;
	border-spacing: 0
}

img {
	border: 0;
	vertical-align: middle;
}


.icon{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	text-indent: -9999999px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.left{
	float: left;
	/* width: 511px; */
	width: 27%;
	margin-left:2%;
	margin-top:123px;
	height: 910px;
	/* border: 1px solid red; */
}
.middle{
	float: left;
	/* border: 1px solid yellowgreen; */
	/* width: 757px; */
	width: 40%;
	margin-left:1%;
	margin-top:123px;
	height: 910px;
}
.right{
	float: left;
	/* border: 1px solid blue; */
	/* width: 520px; */
	width:27%;
	margin-left:1%;
	margin-top:123px;
	height: 980px;
}
.footer{
	/* border: 1px solid yellowgreen; */
	/* width: 1284px; */
	width: 100%;
	margin-left: 30px;
	height: 300px; 
}
.title{
	height:17px;
	font-size:16px;
	font-weight:400;
	color:rgba(90,200,251,1);
	line-height:24px;
	opacity:0.9;
	display: inline-block;
	margin-bottom: 19px;
}
.title span{
	margin:0px 0px 9px 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 9px;
}
table tr{  
	height: 36px;
	vertical-align: middle;
	font-size:14px;
	font-family:MicrosoftYaHei;
    font-weight:500;
	text-align: center;
} 
tr:nth-child(1){
    background:#2358A5;
	color:#f0f0f0;
}
tr:nth-child(2n){
	background:#2358A5;
    opacity:.6;
	color:#ffffff;
	font-weight: 800;
	font-family: "微软雅黑";
}
tr:nth-child(2n+3){
	background:#2358A5;
	color:#ffffff;
    opacity:0.7;
	font-weight: 800;
	font-family: "微软雅黑";
} 
.inner{
   /* width: 510px; */
   width: auto;
   height:240px;
   margin-bottom: 30px;
}
.innerbox{
   overflow-x: hidden;
   overflow-y: auto;
   height: 100%;
}
/*滚动条样式*/
.innerbox::-webkit-scrollbar {
   width: 14px;  
   height:20px;
}
.innerbox::-webkit-scrollbar-thumb {
    background-color: rgba(35,88,165,.6);
}
.innerbox::-webkit-scrollbar-track {
    background-color: rgba(35,88,165,.5);
}
.innerbox::-webkit-scrollbar-button{
    background:rgba(35,88,165,.5);
}
.border{
	border:1px solid rgba(70,193,250,.3);
	background:rgba(14,43,77,.8);
}
#right1,#right2,#right3,#right4,#right5,#right6,#right7{
	margin: 0 auto;
}
.footer .tablea{
	float: left;
	width:31.5%; 
	height:auto;
	margin-right:1%;
}